<% @items.each do |item| %>
  <div data-itemid="<%= item.id %>" class="selectable <%= @invoice.items.pluck(:id).include?(item.id) ? "selected" : ""%>">
    <p class="big">
      <%= item.description %>
    </p>
  </div>
<% end %>
<div class="group_area zoomed">
<%= form_tag invoice_path(@invoice.id), method: "put" do %>
  <%= label_tag :cost, "Cost" %>
  <%= text_field_tag :cost %>
  <%= submit_tag "Expense" %>
<% end %>
</div>
