<h1>Overview</h1>
<table>
  <tr>
    <th>User</th>
    <th>Amount Owed</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= number_to_currency(current_bill(user)) %></td>
    </tr>
  <% end %>
</table>


<h1>History</h1>
<table>
  <tr>
    <th>Description</th>
    <th>Other Guy</th>
    <th>Amount</th>
  </tr>
  <% @history.each do |element| %>
    <tr>
      <td><%= element.description %></td>
      <td><%= element.other_guy %></td>
      <td><%= number_to_currency(element.users_share(current_user)) %></td>
    </tr>
  <% end %>
</table>
<table>
  <%= render :partial => "line_item_header" %>
  <% @history.each do |element| %>
    <%= render :partial => "line_item_tr", locals: { element: element } %>
  <% end %>
</table>

<h1>Payments Pending</h1>
<% if @payments_pending.size > 0 %>
  <table>
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Creator</th>
      <th>Amount</th>
      <th>Accepted</th>
    </tr>
    <% @payments_pending.each do |payment| %>
      <tr>
        <td><%= payment.source.first_name %></td>
        <td><%= payment.destination.first_name %></td>
        <td><%= payment.creator.first_name %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.accepted %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No payments pending
<% end %>

<br><br>
<%= link_to "Add debt", new_debt_path %><br>
<%= link_to "Make payment", new_payment_path %>
