<h1>Overview</h1>
<table>
  <tr>
    <th>User</th>
    <th>Amount Owed</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user %></td>
      <td><%= number_to_currency(current_user.current_bill_with(user)) %></td>
    </tr>
  <% end %>
</table>

<h1>Breakdowns</h1>
<% @users.each do |user| %>
  <h2><%= user %></h2>
  <table>
    <%= render :partial => "line_item_header" %>
    <% current_user.debts_and_payments_involving(user).each do |element| %>
      <%= render :partial => "line_item_tr", locals: { element: element, user: user } %>
    <% end %>
  </table>
<% end %>


<h1>History</h1>
<table>
  <%= render :partial => "line_item_header" %>
  <% @history.each do |element| %>
    <%= render :partial => "line_item_tr", locals: { element: element, user: current_user } %>
  <% end %>
</table>

<h1>Payments Pending</h1>
<% if @payments_pending.size > 0 %>
  <table>
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Creator</th>
      <th>Amount</th>
      <th>Accepted</th>
    </tr>
    <% @payments_pending.each do |payment| %>
      <tr>
        <td><%= payment.source %></td>
        <td><%= payment.destination %></td>
        <td><%= payment.creator %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.accepted %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No payments pending
<% end %>

<br><br>
<%= link_to "Add debt", new_debt_path %><br>
<%= link_to "Make payment", new_payment_path %>
