<div class="group_area">

<h1>Overview</h1>
<table>
  <tr class="table_header">
    <th>User</th>
    <th>Amount Owed</th>
  </tr>
  <% @users.each do |user| %>
    <tr class="<%= cycle("odd_row", "even_row") %>">
      <td><%= link_to user, user %></td>
      <td class="numeric_field"><%= number_to_currency(current_user.current_bill_with(user)) %></td>
    </tr>
  <% end %>
</table>

</div>
<div class="group_area">

<h1>Payments Pending - <%= link_to "History", payment_history_path, :class => "group_links" %></h1>
<% if @payments_pending.size > 0 %>
  <table>
    <tr class="table_header">
      <th>Source</th>
      <th>Destination</th>
      <th>Amount</th>
      <th> </th>
    </tr>
    <% @payments_pending.each do |payment| %>
      <tr class="<%= cycle("odd_row", "even_row") %>">
        <td><%= payment.source %></td>
        <td><%= payment.destination %></td>
        <td class="numeric_field"><%= payment.amount %></td>
        <td><%= link_to "Accept", payment_path(payment, :payment => {:accepted => true}), :method => :put, :confirm => "Accept payment?", :class => "group_links" %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No payments pending
<% end %>
</div>
<div class="group_area">
  <h1>House Needs - <%= link_to "At the store", store_path, :class => "group_links" %></h1>
  <table>
    <% @needed_items.each do |item| %>
      <tr>
        <td><%= item.description %></td>
        <td><%= link_to "-", add_to_list_path(:item_id => item.id, :remove => true), :method => :post %>
      </tr>
    <% end %>
  </table>
  <%= form_tag add_to_list_path do %>
    <%= select_tag :item_id, options_from_collection_for_select(@items, :id, :description) %>
    <%= submit_tag "Add to the list" %>
  <% end %>
  <br>
  <%= form_for @item do |f| %>
    <%= f.label :description, "New item" %>
    <%= f.text_field :description %>
    <%= f.submit %>
  <% end %>
</div>
