<tr class="<%= tr_class %>">
  <td><%= link_to element, element %></td>
  <td class="numeric_field"><%= number_to_currency(element.amount) %></td>
  <td class="numeric_field"><%= number_to_currency(element.users_share(current_user == element.owner ? user : current_user)) %></td>
  <td><%= element.created_at.to_formatted_s(:short) %></td>
  <% if element.running_total %>
    <td class="numeric_field"><%= number_to_currency(element.running_total)%></td>
  <% else %>
    <td></td>
  <% end %>
</tr>
