<!DOCTYPE html>
<html>
<head>
<title>Accounting</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <div class="header_left"><div class="header_text"><%= link_to "Home", root_path, :class => "header_links" %></div></div>
  <div class="header_right">
    <div class="header_text">
      <strong>
        <%= link_to current_user.username.capitalize, edit_user_registration_path, :class => 'header_links' %>
      </strong>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'header_links'  %>
    </div>
  </div>
<% else %>
  <div class="header_left"> </div>
  <div class="header_right"><div class="header_text">
  <%= link_to "Sign up", new_user_registration_path, :class => 'header_links'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'header_links'  %>
</div></div>
<% end %>
<div class="body">

  <%= yield %>

</div>
</body>
</html>
